@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&display=swap');

*{
    font-family: 'Noto Kufi Arabic', sans-serif;
    letter-spacing: 0.20px;
    font-size: 26px;
    line-height: 160%;
    margin: 0; padding: 0;
    color: #9e9e9e;
}

body{background-color: #16151d; color: white;}

.card{
    background-color: #222;
}

.postbody p {
    margin: 17px 0;
}